name: Continuous Integration
on: push
env:
  DB_NAME: test
  DB_USER: root
  DB_PASSWORD: 123456
jobs:
  run_code_checks:
    runs-on: ubuntu-latest
    steps:
      - name: Set up MySQL
        run: |
          sudo /etc/init.d/mysql start
          sudo mysql -e 'ALTER USER "${{env.DB_USER}}"@"localhost" IDENTIFIED WITH mysql_native_password BY ${{env.DB_PASSWORD}}";' -uroot -proot
          sudo mysql -e "CREATE DATABASE IF NOT EXISTS ${{env.DB_NAME}};" -u${{env.DB_USER}} -p{{env.DB_PASSWORD}}
      - name: Checkout Repo code
        uses: actions/checkout@v2
      - name: Set Up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.19
      - name: Run Linting
        run: |
          go fmt ./...
          go vet ./...
      - name: Run Tests
        run: |
          go test
          
